<article class="episode">
    <header class="episode-header">
        <h2 class="episode-header-title">
            <a class="link--secondary" href="{{ site.url }}{{ episode.url }}">
                {{ episode.number }}: {{ episode.title }}
            </a>
        </h2>
        <h3 class="episode-header-meta">
            {{ episode.date|date('F j, Y') }}
        </h3>
    </header>
    <div class="episode-body">
        {{ episode.blocks.content|raw }}
    </div>
    <div class="episode-audio">
        <iframe frameborder='0' height='36px' scrolling='no' seamless src='https://simplecast.fm/e/{{ episode.embed_id }}?style=dark' width='100%'></iframe>
        <div class="text-right">
            <a href="{{ episode.download }}">Download</a>
        </div>
    </div>
    <div class="episode-links">
        <h3 class="episode-links-heading">Links</h3>
        {{ episode.blocks.links|raw }}
    </div>
</article>
