<article class="episode">
    <header class="episode-header">
        <h2 class="episode-header-title">
            <a class="link--secondary" href="{{ site.url }}{{ episode.url }}">
                Episode {{ episode.number }}: {{ episode.title }}
            </a>
        </h2>
        <h3 class="episode-header-meta">
            {{ episode.date|date('F j, Y') }}
        </h3>
    </header>
    <div class="episode-body">
        {{ episode.blocks.content|raw }}
    </div>
    <div class="episode-audio">
        <audio controls class="episode-audio-player">
          <source src="{{ episode.download }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <div class="text-right">
            <a href="{{ episode.download }}">Download</a>
        </div>
    </div>
    <div class="episode-links">
        <h3 class="episode-links-heading">Links</h3>
        {{ episode.blocks.links|raw }}
    </div>
</article>
